<template name="lobbyPlayers">
    <div class="Lobby-players">
      {{!-- {{#each participants}} --}}
        {{> lobbyPlayer}}
      {{!-- {{/each}} --}}
    </div>
</template>


<template name="lobbyPlayer">
  {{#Animate}}
  {{!-- <div class="Lobby-player animate">
    <div class="User">
      <div class="User-avatar" style="background-image:url({{avatar}});"></div>
      <div class="User-username">{{alias}}</div>
    </div>
  </div> --}}

  <div class="Lobby-player">
    <div class="Player-avatar" style=""></div>
    <div class="Player-name">Fruitloop</div>
  </div>

  <div class="Lobby-player">
    <div class="Player-avatar" style=""></div>
    <div class="Player-name">Fruitloop</div>
  </div>

  <div class="Lobby-player">
    <div class="Player-avatar" style=""></div>
    <div class="Player-name">Fruitloop</div>
  </div>

  <div class="Lobby-player">
    <div class="Player-avatar" style=""></div>
    <div class="Player-name">Fruitloop</div>
  </div>

  <div class="Lobby-player">
    <div class="Player-avatar" style=""></div>
    <div class="Player-name">Fruitloop</div>
  </div>

  <div class="Lobby-player">
    <div class="Player-avatar" style=""></div>
    <div class="Player-name">Fruitloop</div>
  </div>

  <div class="Lobby-player">
    <div class="Player-avatar" style=""></div>
    <div class="Player-name">Fruitloop</div>
  </div>

  <div class="Lobby-player">
    <div class="Player-avatar" style=""></div>
    <div class="Player-name">Fruitloop</div>
  </div>

  {{/Animate}}
</template>
