.User-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  background-position: center;
}

.User-username {
  display: inline-block;
  vertical-align: middle;
}
